# Postgress
DATABASE_URL="mysql://oppfy_db:fTcaeuZfXfqC.x3p@awsstack-myfreetierrdsinstance06033a4b-9q24wkpficyn.c9o6wu06wi4n.us-east-1.rds.amazonaws.com:3306/mydatabase"

# AWS
AWS_ACCESS_KEY_ID="AKIA5OJS54YNU5J6NZNU"
AWS_SECRET_ACCESS_KEY="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"

NROK_URL="https://98de-76-68-50-47.ngrok-free.app" # this will point to vercel once ready
