<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980786271179-737gt28lem42ahfiq3qbgg5qsdcecu29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980786271179-737gt28lem42ahfiq3qbgg5qsdcecu29</string>
	<key>API_KEY</key>
	<string>AIzaSyBQcDuq0zH7zjgt-NBk4LQqJmIghxMlprs</string>
	<key>GCM_SENDER_ID</key>
	<string>980786271179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algkmp.oppfy</string>
	<key>PROJECT_ID</key>
	<string>oppfy-d63ef</string>
	<key>STORAGE_BUCKET</key>
	<string>oppfy-d63ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980786271179:ios:de5909a4a502b98e051c4e</string>
</dict>
</plist>